@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

:root {
  --color-background: #FAF8F4;
  --color-surface:  	#FFFFFF;
  --color-soft:  	#F2EEE6;
  --color-line: #E8E4DC;
  --color-primary-text: #1A1614;
  --color-secondary-text:  	#6F6A63;
  --color-accent:  #c46a3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: var(--color-accent); */
}

.sidebar {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 232px;
  min-height: 100vh;

  padding: 26px 18px 18px;
  gap: 18px;

  background-color: var(--color-background);

  text-decoration: none;
}

.sidebar-brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  
  font-family: 'Instrument Serif', serif;
  font-size: 26px;
  background: transparent;
  align-self: center;
  
}

.sidebar a {
  text-decoration: none;
  color: inherit;
  
}

.sidebar-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 90%;
  height: 19px;
  padding: 12px 11px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  align-self: center;
}

.sidebar-btn.active {
  background-color: var(--color-soft);
  border-radius: 4px;
}

.sidebar-create-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 18px;
  border-radius: 20px;
  gap: 8px;
  background-color: #c46a3a;
  width: 195px;
  height: 45px;
  border: none;
  color: white;
  font-size: 15px;
}